.about{
    font-weight: bold;
}

.contenedorCaracteristicas{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.caracteristicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 80px;
    height: 60px;
}

.caracteristicas__numeros{
    display: flex;
    gap: 5px;
}

.caracteristicas__peso{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 0 20px;
}

.caracteristicas__habilidades{
    display: flex;
    flex-direction: column;
    width: 90px;
}