.container{
    height: 844px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: auto;
}

.datos{
    background-color: white;
    width: 95%;
    height: 65%;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.flechasNavegacion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -60px;
}

.flechas{
    font-size: 3rem;  
    color: white;
    font-weight: lighter;
}