.container{
    background-color: #74cb48;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.pokeball__contenedor{
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
}


.nombreNumero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
    color: white;
    z-index: 2;
}

.flechaNombre{
    display: flex;
    align-items: center;
    gap: 10px;
}

.imagen{
    z-index: 2;
    position: absolute;
    top: 90px;
    left: 90px;
}

.datos{
    background-color: white;
    width: 95%;
    height: 70%;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tipos{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 20px;
}

.tipo{
    background-color: aqua;
    border-radius: 20px;
    padding: 2px 10px;
    color: white;
}

.about{
    
}

.contenedorCaracteristicas{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caracteristicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 80px;
    height: 40px;
}

.caracteristicas__numeros{
    display: flex;
    gap: 5px
}

.descripcion{
    padding: 15px;
}

.stats{
    display: flex;
    flex-direction: row;
    width: 370px;
}

.stats__nombre{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stats__cantidad{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stats__barra{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
