.container{
    background-color: #74cb48;
    height: 844px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.datos{
    background-color: white;
    width: 95%;
    height: 65%;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

