.tipos{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 20px;
}

.tipo{
    border-radius: 20px;
    padding: 2px 10px;
    color: white;
    text-transform: capitalize;
}
