.rock{
    color: #B69E31;   
}

.ghost{
    color: #70559B;   
}

.steel{
    color: #B7B9D0;   
}

.water{
    color: #6493EB;   
}

.grass{
    color: #74CB48;   
}

.psychic{
    color: #EB5584;   
}

.ice{
    color: #9AD6DF;   
}

.dark{
    color: #75574C;   
}

.fairy{
    color: #E69EAC;   
}

.normal{
    color: #AAA67F;   
}

.fighting{
    color: #C12239   
}

.flying{
    color: #A891EC;   
}

.poison{
    color: #A43E9E;   
}

.ground{
    color: #DEC16B;   
}

.bug{
    color: #A7B723;   
}

.fire{
    color: #F57D31;   
}

.electric{
    color: #F9CF30;   
}

.dragon{
    color: #7037FF;   
}

   